*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.205);

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
}

.logo img{
    width: 70px;
    height: 50px;
    object-fit: cover;
}

nav a{
    text-decoration: none;
    color: rgb(49, 41, 40);
    padding: 15px;
}

.banner{
    padding: 15px;
    background-color: rgb(78, 76, 73);
    height: 500px;

    display: grid;
    justify-items: center;
    align-items: center;
}

.content{
    padding: 20px;
    background-color: rgba(252, 247, 242, 0.815);
    border-radius: 15px;

    display: grid;
    gap: 7px;
    justify-items: center;

}

.section-title{
    padding: 15px;

    display: grid;
    justify-items: center;
}

.products{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 15px;
    width: 200px;
    color: rgb(39, 36, 36);
    border: 2px solid rgb(51, 42, 42);

    display: grid;
    justify-items: center;
    text-align: center;
    gap: 5px;
}

.products img{
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.products-wrapper{
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-items: center;
}

.brand{
    padding: 15px;

    display: grid;
    gap: 15px;
}

div.ion-icons{
    padding: 15px;
    font-size: 25px;

    display: grid;
    gap: 15px;
}

.social-media{
    display: flex;
}

form{
    padding: 15px;
    background-color: rgba(90, 86, 86, 0.801);

    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
}

form button:hover{
    color: black;
    background-color: rgb(163, 163, 163);
    transition: 0.5s;
}

form button{
    padding: 10px;
    border-radius: 10px;}

form{
    border-radius: 10px;
}

button{
    border-radius: 10px;
    padding: 7px;
    background-color: rgb(207, 194, 182);
}

button:hover{
    background-color: rgb(110, 110, 131);
    transition: 0.5s;
}

input{
    border-radius: 20px;
    padding: 10px;
}

label{
    color: white;
}